
@{
    ViewData["Title"] = "Регистрация";
}
@model UserViewModel

<div>
    <form asp-controller="Register" asp-action="CreateUser" method="post" enctype="multipart/form-data" class="col-9 text-center"style="margin: auto" >
        <div class="card">
            <div class="card-header" style="background-color: #dce4e9;">Регистрация нового пользователя</div>
            <div class="card-body">
                <div class="form-group text-left">
                    <label asp-for="Nickname"></label>
                    <input type="text" class="form-control" asp-for="Nickname" />
                    <span asp-validation-for="Nickname"></span>
                </div>
                <div class="form-group text-left">
                    <label asp-for="Email"></label>
                    <input type="text" class="form-control" placeholder="example@ex.com" asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group text-left">
                    <label asp-for="Password"></label>
                    <input type="password" class="form-control" asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group text-left">
                    <label asp-for="ConfirmPassword"></label>
                    <input type="password" class="form-control" asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="form-group text-left">
                    <label asp-for="LastName"></label>
                    <input type="text" class="form-control" asp-for="LastName" />
                </div>
                <div class="form-group text-left">
                    <label asp-for="FirstName"></label>
                    <input type="text" class="form-control" asp-for="FirstName" />
                </div>
                <div class="form-group text-left">
                    <label>Выберите фото</label>
                    <input id="imageDataName" disabled class="form-control col-3" />
                    <label class="btn btn-primary">
                        Обзор...<input type="file" style="display: none;" id="imageData"
                                       accept=".jpg,.jpeg,.png" name="imageData" onchange="onImageUpload()">
                    </label>
                </div>
                <div class="form-group text-left">
                    <label asp-for="Contacts"></label>
                    <textarea rows="4" class="form-control" asp-for="Contacts"></textarea>
                </div>
                <div class="form-group text-left">
                    <label asp-for="AboutMe"></label>
                    <textarea rows="4" class="form-control" asp-for="AboutMe"></textarea>
                </div>
                <div class="form-group text-left">
                    <label asp-for="Achievements"></label>
                    <textarea rows="4" class="form-control" asp-for="Achievements"></textarea>
                </div>
                <span class="validation" asp-validation-summary="ModelOnly"></span>
                <div>
                    <label>* - поля, обязательные для заполнения</label>
                    <input type="submit" class="btn btn-secondary" style="background-color: #dce4e9; color: #4f4f4f" value="Зарегистрироваться" />
                </div>
            </div>
        </div>
</form>
    <div class="text-center">
        <label>Уже есть аккаунт?</label>      
        <a asp-area="" asp-controller="Login" asp-action="Login">
            <input type="submit" class="btn btn-secondary" style="background-color: #dce4e9; color: #4f4f4f" value="Войти" />
        </a>
    </div>
</div>